@import url('https://fonts.googleapis.com/css2? family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Chivo:wght@300;700;900&display=swap');

body{
    margin: 0;
    background-color: #38332b;
}
*{
    box-sizing: border-box;
}
#cajacabecera{
    width: 100%;
    background: #684815;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#cabecera{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: auto;
}
#logo{
    width: 10%;
    padding: 4px 0;
    margin-right: 110px;
}
.menu{
    width: 100%;
}
#btn-menu{
    display: none;
}
#mmovil{
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-align: right;
    color: #edbc65;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li a{
    display: block;
    line-height: 85px;
    padding: 0 20px;
    color: #FFBB00;
    text-decoration: none;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 13px;
}
.menu ul li a i{
    padding-right: 6px;
}
.menu a:hover{
    color: #edbc65;
    border-bottom: 2px solid #edbc65;
}
/* RESPONSIVE EL MENU DE NAVEGACION EN DISPOSITIVOS 1087 */
@media (max-width: 1087px){
     #cabecera{
        justify-content: space-between;
    } 
    #logo{
        width: 20%;
        display: block;
        padding-left: 20px;
    }
    .menu{
        position: absolute;
        top: 100%;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
        background: #50350a;
        opacity: 75%;
    }
    .menu ul li a{
        line-height: 45px;
        padding: 0 20px;
        border-bottom: 2px solid #6848;
    }
    #mmovil{
        display: block;
        padding-right: 20px;
    }
}
#btn-menu:checked ~ .menu{
    transform: translateX(0%);
}